.env
node_modules
dataset/karty wypadku*
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/

validation_model/training_model/logi
validation_model/training_model/wyniki
validation_model/training_model/model_zus