pytesseract
pdf2image
Pillow
opencv-python
paddleocr
paddlepaddle==3.0.0b1  

numpy
matplotlib
seaborn
scikit-learn
pandas

Flask>=3.0.0
flask-cors>=4.0.0
python-dotenv>=1.0.0
transformers>=4.30.0
torch>=2.0.0
datasets>=2.14.0
accelerate>=0.26.0
safetensors
sentencepiece

huggingface-hub>=0.20.0

llama-cpp-python

PyMuPDF>=1.23.0
pypdf>=3.0.0